<h1>Admin#index</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'new order', new_order_path %>
<h2>Orders (<%=@orders.count%>)</h2>
<table>
  <thead>
    <tr>
      <th>status</th>
      <th>product</th>
      <th>category</th>
      <th>created_at</th>
      <th>user_id</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= link_to "#{Product.find_by_id(order.product_id).title}", product_path(order.product_id)  %></td>
        <td><%= Category.find_by_id(order.category_id).name %></td>
        <td><%= distance_of_time_in_words_to_now(order.created_at) %></td>
        <td><%= User.find_by_id(order.user_id).email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>