<h1>Client#index</h1>
<p>Find me in app/views/client/index.html.erb</p>
<p id="notice"><%= notice %></p>
<h1>Listing orders</h1>
<table>
  <thead>
    <tr>
      <th>status</th>
      <th>product_id</th>
      <th>category_id</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>user_id</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.product_id %></td>
        <td><%= order.category_id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <td><%= order.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

